<div>
    <h2><b>3. Select Contact Details <span style="color:red">*</span></b></h2>
    <div class="contact-type py-2">
        <h3><%= form.label :contact_made, "a. Contact Made", class:"not-bold" %></h3>
        <%= form.radio_button(:contact_made, true, checked: case_contact.contact_made, required: true) %>
        <%= form.label "Yes", for: "case_contact_contact_made_true" %>
        <br>
        <%= form.radio_button(:contact_made, false, checked: set_contact_made_false(case_contact), required: true) %>
        <%= form.label "No", for: "case_contact_contact_made_false" %>
    </div>
    <div class="contact-medium py-2">
        <h3><%= form.label :medium_type, "b. Contact Medium", class:"not-bold" %></h3>
        <%= form.select :medium_type,
                        options_from_collection_for_select(contact_mediums, 'value', 'label', case_contact.medium_type),
                        {prompt: t(".prompt_select_one")},
                        class: "custom-select col-sm-12 col-md-4",
                        required: true %>
    </div>
    <div class="occured-at py-2">
        <h3><%= form.label :occurred_at, "c. Occured On", class:"not-bold" %></h3>
        <% occurred_at = @case_contact.occurred_at || Time.zone.now %>
        <%= form.text_field :occurred_at,
                            value: occurred_at.to_date,
                            data: {provide: "datepicker", date_format: "yyyy/mm/dd"},
                            class: "form-control" %>
                            </div>
    </div>
    <div class="duration-minutes py-2">
        <h3><%= form.label "Duration", "d. Duration of Meeting", class:"not-bold" %></h3>
        <%= form.number_field :duration_hours,
                                        class: "form-control-sm",
                                        id: "case-contact-duration-hours",
                                        min: 0,
                                        max: 23,
                                        value: duration_hours(case_contact) %>
        <span><b>hour(s)</b></span> <span class="mx-5">and</span>
        <%= form.number_field :duration_minutes,
                                    class: "form-control-sm",
                                    id: "case-contact-duration-minutes",
                                    min: 0,
                                    max: 59,
                                    value: duration_minutes(case_contact) %>
        <span><b>minute(s).</b></span>
    </div>